# on bloque les commit des fichiers de config des IDE
.idea/
.vscode/
# on bloque les commit des fichiers de config de l'OS
.DS_Store
# on bloque les commit de composer et de ses dépendances
composer.phar
/vendor/